
.aliment{
    margin : 10px;
    width : 200px;
    height: 50px;
    overflow: hidden;
    background : rgb(193, 73, 30);
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px rgb(156, 60, 24);
    text-align: center;
}

.aliment:hover {
    height: 150px;
    width : 250px;
}

.flex {
    display: flex;
}


.advancedSearchButton{
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    width : 250px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    font-style: Bold;
    background-color: rgb(193, 73, 30);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px rgb(156, 60, 24);
    margin : 1px;
}

.advancedSearchButton:hover {background-color: rgb(193, 73, 30)}


.specialCol{
    text-align: center;
    display: flex;
}

.specialCol2{
    text-align: center;
    display: flex;
    margin-top: 10px;
}

.title{
    font-weight: bold;
    padding: 2px;
    margin-right: 10px;
    color:black;
}

.subtitle{
    font-style : italic;
    font-weight: 8px;
    color:white
}

.size-form{
    width: 250px;
}

.specialRow{
    margin: 10px;
}

.marginBottom{
    margin-bottom: 40px;
}
