.titre {
    text-align: center;
    width: 70%;
    color: white;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    font-style: italic;
    padding-bottom: 10px; 
    margin-left: 50px;
    min-width: 500px;
  }

  .titreImg{
    width : 600px;
    height : 100px;
  }

  .body-content{
    float : right;
    width: 88%;
    height: 100%;
    min-height: 600px;
  }

  .login{
    padding:5px;
    width: 20%;
    font-size: 10px;
    font-weight:bold;
    color: white;
    display:flex;

  }
  
  .header{
    display: flex;
    width:100%;
    height: 100px;
    background-image: url("/resources/imgHeader.jpg");  
  }
  
  .button {
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    width : 100px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    font-style: Bold;
    background-color: rgb(193, 73, 30);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px rgb(156, 60, 24);
  }
  
  .button:hover {background-color: rgb(193, 73, 30)}
  
  .button:active {
    background-color: rgb(193, 73, 30);
    box-shadow: 0 1px rgb(156, 60, 24);
    transform: translateY(4px);
  }
  
  .imgLogo{
    margin-top : 10px;
    margin-left: 25px;
    width:70px;
    height:70px;
  }
  
  .input{
    color: #282828;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .menu-content{
    float: left;
    display: block;
    width: 150px;
    height: auto;
    min-height: 600px; 
    max-height: 100%;
    background-image: url("/resources/menu.jpg");  
    text-align: center;
    min-width: 100px;
    max-width:12%;
  }
  

  .section1{
    width: 70%;
    margin-top: 0px;
  }