
.recipeLineBlock{
    padding-top: 10px;
    display: block;
    margin-left: 50px;
    margin-top: 10px;
    background : rgb(193, 73, 30);
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px rgb(156, 60, 24);
    height: 60px;
    width : 90%;
    min-width : 500px;
    overflow: hidden;
    transition: 1s;
}

.recipeLineBlock:hover{
    height: 300px;
}

.imgRecipe{
    float: left;
    object-fit: cover;
    padding-left:20px; 
    width: 100px;
    height: 50px;
}

.textRecipe{
    color:#000000;
    font-style: italic;
    height:60px;
    width:90%;
}

.textRecipe:hover{
    height: 300px;
}